version: '3.8'
services:
  backend:
    container_name: NPHC-backend
    image: nphc-backend:latest
    build:
      context: ./
      dockerfile: backend/Dockerfile
    command: npm run start:dev
    ports:
      - 3001:3000
    environment:
      MONGODB_URI: mongodb://mongo:27017/NHCP
    volumes:
      - /usr/src/app/node_modules
      - ./backend:/usr/src/app
    depends_on:
      - mongo

  frontend:
    container_name: NPHC-frontend
    image: nphc-frontend:latest
    build:
      context: ./
      dockerfile: frontend/Dockerfile
    command: npm run start
    ports:
      - 3000:3000
    environment:
      WDS_SOCKET_PORT: 0
    volumes:
      - /usr/src/app/node_modules
      - ./frontend:/usr/src/app
    depends_on:
      - backend
      - mongo

  mongo:
    image: mongo:latest
    container_name: NHCP-mongo
    restart:
      always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: NHCP
    volumes:
      - dbdata:/data/db

volumes:
  dbdata: